# Import Libraries

In [2]:
import json
import pandas as pd

### Unstructred To structured

In [3]:

with open("data/forecast.json", "r", encoding="utf-8") as f:
    forecast_data = json.load(f)

df_forecast = pd.DataFrame(forecast_data)

### Explore Data

In [4]:
df_forecast.head()

  CountryRegion            Brand  Forecast  Year
0         China         A. Datum    201487  2009
1         China  Adventure Works    399490  2009
2         China          Contoso   1173308  2009
3         China         Fabrikam    790074  2009
4         China          Litware    437443  2009

In [5]:
df_forecast.duplicated().sum()

np.int64(0)

In [6]:
df_forecast.isnull().sum()

CountryRegion    0
Brand            0
Forecast         0
Year             0
dtype: int64

In [7]:
df_forecast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CountryRegion  33 non-null     object
 1   Brand          33 non-null     object
 2   Forecast       33 non-null     int64
 3   Year           33 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

### No transformation needed

In [20]:
forecast_brand_year

    Year                 Brand  ForecastSales
0   2009              A. Datum        1777784
1   2009       Adventure Works        4985172
2   2009               Contoso        7127903
3   2009              Fabrikam        8667819
4   2009               Litware        4284028
5   2009     Northwind Traders         911918
6   2009             Proseware        3192659
7   2009      Southridge Video        1643555
8   2009         Tailspin Toys         600524
9   2009     The Phone Company        2233721
10  2009  Wide World Importers        3579429

In [ ]:
# Load ctrutured